/* Define custom colors for Dark Theme */

:root.dark-theme {
    --primary-color: #0d1b2a; 
    --card-color-1: #1b263b;
    --card-color-2: #415a77;
    --card-color-3: #23314f;
    --card-font-1:#ffffff;
    --card-font-2:#d6d6d6;
    --card-font-3:#778da9;
    --card-link-hover-font: #00ff00;
    --card-link-hover-shadow: 0 2px 8px #00ff00;
    --font-color-1: #ffffff;
    --font-color-2: #c3c3c3;
    --font-color-3: #6a6a6a;
    --overlay-color: #00000099;
    --card-color-link:#c8c8c8;
    --action-bg: #feff16;
    --action-font: #000000;
    --action-hover-shadow: 0 2px 8px #000000;
    --action-hover-font: #000000;
    --profile-bg: linear-gradient(to right, #1b263b, #1b263b);
    --profile-name:#ffffff;
    --profile-username: #ffffffad;
    --sidebar-hover-font: #feff16;
    --theme-switch-font: #ffffff;
    --theme-switch-bg: #feff16;
    --theme-switch-shadow: #ffffff;
    --scroll-button-font: #ffffff;
    --scroll-button-bg: #0d1b2a;
    --exp-header-shadow: #ffffff00;
    --searchBar-component: #ffffff80;
  }
  
  /* Define custom colors for Light Theme */
  
  :root.light-theme {
    --primary-color: #ffffff;
    --card-color-1: #cbf3f0;
    --card-color-2: #ffbf69;
    --card-color-3: #2ec4b6;
    --card-font-1:#000000;
    --card-font-2:#000000;
    --card-font-3:#000000;
    --card-link-hover-font: #e63946;
    --card-link-hover-shadow: 0 2px 8px #e63946;
    --font-color-1: #000000;
    --font-color-2: #4b4b4b;
    --font-color-3: #656464;
    --overlay-color: #00000099;
    --card-color-link:#3a3737;
    --action-bg: #e63946;
    --action-font: #ffffff;
    --action-hover-shadow: 0 2px 8px #000000;
    --action-hover-font: #ffffff;
    --profile-bg: linear-gradient(to right, #f0ebd8, #cbf3f0);
    --profile-name:#000000;
    --profile-username: #0000008e;
    --sidebar-hover-font: #e63946;
    --theme-switch-font: #ffffff;
    --theme-switch-bg: #e63946;
    --theme-switch-shadow: #ffffff;
    --scroll-button-font: #000000;
    --scroll-button-bg: #cbf3f0;
    --exp-header-shadow: #00000000;
    --searchBar-component: #00000080;
  }
  
  * {
    text-decoration: none;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
  }
  
  .header-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Header styles */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color); /* Default for light theme */
    padding: 0;
    position: fixed; /* Fix the header at the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top of other elements */
  }
  
  section {
    scroll-margin-top: 60px; /* Adjust this value to match the height of your header */
  }
  
  #theme-switch {
    color: var(--theme-switch-font);
    background-image: url('https://cdn-icons-png.flaticon.com/512/5261/5261906.png');
    background-color: var(--theme-switch-bg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 8px var(--theme-switch-shadow);
    height: 40px;
    width: 40px;
    position: absolute;
    right: 15px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
  }
  
  .search-bar {
    flex: 1; /* Expand search bar to fill remaining space */
    margin-right: 20px; /* Maintain spacing */
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-bar .search-icon {
    margin-right: 10px;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--searchBar-component);
  }
  
  .search-bar input {
    width: calc(100% - 30px); /* Stretch input to fill search bar */
    padding: 10px;
    border: 2px solid var(--searchBar-component);
    border-radius: 50px;
    background-color: var(--primary-color); /* Change input background color */
    color: var(--font-color-1); /* Change text color */
  }
  
  .search-bar input::placeholder {
    color: var(--font-color-3); /* Change placeholder text color */
  }
  
  /* Menu toggle button */
  .menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  /* Styles for menu toggle icon bars */
  .menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: var(--font-color-2); /* Change to white */
    margin-bottom: 5px;
    border-radius: 5px; /* Adjust the roundness of the bars */
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* Style for white menu toggle icon */
  .menu-toggle.white .bar {
    background-color: var(--font-color-1); /* Change to white */
  }
  
  /* Active state for menu toggle icon */
  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0px;
    left: -270px;
    width: 270px;
    height: 100%;
    background-color: var(--primary-color);
    transition: left 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.show {
    left: 0;
    z-index: 1000;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 10px;
    margin: 40px;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
  }
  
  .sidebar ul li a {
    color: var(--font-color-1);
    /* font-family: poppins; */
    text-decoration: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  
  .sidebar ul li :hover {
    color: var(--sidebar-hover-font);
    font-size: 23px;
  }
  
  .sidebar:active {
    color: var(--sidebar-hover-font);
  }
  
  .sidebar .section-title {
    font-size: 20px;
    font-weight: italic;
    color: var(--font-color-3);
    margin-left: -20px; /* Adjust this value to shift more left */
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .sidebar ul li i {
    margin-right: 20px; /* Spacing between icon and text */
  }
  
  /* Dark Overlay Styles */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color); /* Semi-transparent black */
    z-index: 999; /* Should be less than the sidebar's z-index */
    display: none; /* Initially hidden */
  }
  
  #overlay.show {
    display: block; /* Show the overlay when the sidebar is open */
  }
  
  /* Adjust main content padding to account for fixed header */
  main {
    padding-top: 60px; /* Adjust this value based on the height of your header */
  }
  
  /* Profile Info styles */
  .profile-info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-image: var(--profile-bg);
  }
  
  .profile-image {
    background-image: url('/media/image/profileimage.jpeg');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-top: 20px;
  }
  
  .profile-name {
    font-size: 28px;
    color: var(--profile-name);
    font-family: 'Caudex', serif;
  }
  
  .username {
    font-size: 16px;
    color: var(--profile-username);
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
  }
  
  .email-button,
  .resume-button {
    margin-top: 10px; /* Remove top margin since it's now managed by the container */
  }
  
  .email-button a:hover,
  .resume-button a:hover {
    color: var(--action-hover-font);/* Remove top margin since it's now managed by the container */
    box-shadow: var(--action-hover-shadow);
  }
  
  .email-button a, 
  .resume-button a {
    display: inline-block;
    background-color: var(--action-bg); /* Button background color */
    color: var(--action-font); /* Button text color */
    padding: 10px 10px; /* Adjust padding as needed */
    border-radius: 40px; /* Adjust border radius to round the button */
    text-decoration: none; /* Remove underline from link */
  }
  
  .email-button a i,
  .resume-button a i {
    margin-right: 10px; /* Add spacing between icon and text */
  }
  
  .projects-title {
    text-align: center;
    font-size: 18px;
    color: var(--font-color-2);
    margin-top: 20px;
  }
  
  .project-card-container {
    font-family: poppins;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: -15px;
  }
  
  .project-card-link {
    text-decoration: none;
  }
  
  .project-card {
    background-color: var(--card-color-1);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px; /* Adjust this height to ensure square cards */
    transition: opacity 0.5s, height 0.5s;
    overflow: hidden;
    pointer-events: auto; /* Ensures the card is interactable */
  }
  
  .project-card:hover {
    transform: scale(1.05); /* Zoom effect */
  }
  
  .project-card h3,
  .project-card p {
    text-decoration: none; /* Remove underline from text */
  }
  
  .project-card-image {
    flex: 2;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  
  .project-card-content {
    flex: 1;
    padding: 15px;
    text-align: center;
    text-decoration: none;
  }
  
  .project-card h3 {
    margin: 10px 0;
    font-size: 20px;
    color: var(--card-font-1);
  }
  
  .project-card p {
    margin: 0;
    font-size: 14px;
    color: var(--card-font-2);
    text-decoration: none;
  }
  
  .link-highlight {
    background-color: var(--primary-color); /* Highlight background color */
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
    color: var(--card-color-link);
  }
  
  .link-highlight:hover {
    color: var(--card-link-hover-font);
    box-shadow: var(--card-link-hover-shadow);
  }
  
  .knowledge-title {
    text-align: center;
    font-size: 18px;
    color: var(--font-color-2);
    margin-top: 15px;
    margin-bottom: 30px;
  }
  
  .knowledge-container {
    font-family: poppins;
    margin-top: -50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 40px;
  }
  
  .knowledge-card {
    background-color: var(--card-color-2);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  
  .knowledge-content h4 {
    margin-top: 5px;
    color: var(--card-font-2);
    padding: 10px;
  }
  
  .knowledge-content p {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px;
    margin-top: -15px;
    color: var(--font-color-1);
  }
  
  .highlight {
    background-color: var(--primary-color); /* Highlight background color */
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin: 2px 0;
  }
  
  .exp-title {
    text-align: center;
    font-size: 18px;
    color: var(--font-color-2);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .exp-container {
    font-family: poppins;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .exp-card {
    background-color: var(--card-color-1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
  }
  
  .exp-header {
    background-color: #fffc57;
    background-size:cover;
    background-position: center;
    height: 90px;
    width: 230px;
    border-radius: 15px;
    margin-top: -45px;
    box-shadow: 0 0 8px var(--exp-header-shadow);
  }
  
  .exp-content {
    color: var(--card-font-2);
  }
  
  #com-des {
    color: var(--font-color-1);
  }
  
  .edu-title {
    text-align: center;
    font-size: 18px;
    color: var(--font-color-2);
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .edu-container {
    font-family: poppins;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }
  
  .edu-card {
    background-color: var(--card-color-3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }
  
  .edu-header:hover {
    box-shadow: 0 0 20px #415a77;
    transform: scale(1.05); /* Zoom effect */
  }
  
  .edu-header {
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -45px;
  }
  
  .edu-content p {
    color: var(--card-font-2);
  }
  
  #dig-dep {
    color: var(--card-font-1);
  }
  
  .course {
    font-size: 20px;
  }
  
  .footer {
    color: var(--font-color-2);
    text-align: center;
  }
  
  /* Media query for larger screens */
  @media (min-width: 769px) {
    /* Sidebar */
    .sidebar {
      width: 250px; /* Set the width of the sidebar */
      position: fixed; /* Keep the sidebar fixed on the screen */
      top: 20px;
      left: 0;
      bottom: 0;
      z-index: 1000; /* Ensure the sidebar is above other content */
      background-color: var(--primary-color); /* Optional: Add background color */
      overflow-y: auto; /* Allow vertical scrolling if sidebar content exceeds viewport height */
    }
  
    /* Main Content */
    main {
      margin-left: 250px; /* Adjust margin to accommodate sidebar width */
    }
  
    /* Header styles */
    .header {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: fixed; /* Fix the header at the top */
      top: 0;
      left: 0;
      width: 100%;
      justify-content: center;
      background-color: var(--primary-color); /* Default for light theme */
      color: var(--font-color-1); /* Default for light theme */
      padding: 0;
      z-index: 1000; /* Ensure it stays on top of other elements */
    }
  
    .search-bar {
      margin-left: 350px;
    }
  
    .footer {
      margin-left: 350px;
    }
  
    /* Profile Info */
    .profile-info {
      position: relative;
      display: flex; /* Ensure profile info is displayed as flex */
      justify-content: center; /* Center align the content */
      padding: 33px;
      text-align: left;
      border-radius: 10px;
      overflow: hidden;
      margin-left: 22px;
      margin-right: 20px;
  
    }
  
    /* Profile Image */
    .profile-image {
      margin-right: 20px; /* Maintain spacing */
    }
  
    /*Profile-name */
    .profile-details {
      margin-top: -5px;
    }
  
    .email-button {
      position: absolute;
      top: 5px;
      right: -200px;
    }
  
    .email-button{
      padding-top: 49px;
      margin-right: 160px;
      margin-top: 10px; /* Remove top margin since it's now managed by the container */
    }
  
    /* Hide the toggle bar */
    .menu-toggle {
      display: none;
    }
  }
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .profile-info {
      flex-direction: row; /* Change flex-direction to row */
      justify-content: flex-start; /* Align content to the left */
      align-items: center; /* Align items vertically */
      text-align: left; /* Align text to the left */
    }
  
    .profile-image {
      margin-right: 20px; /* Maintain spacing */
    }
  
    .profile-details {
      margin-top: 0; /* Remove margin */
    }
  
    .username {
      margin-top: 5px; /* Add margin between name and username */
      font-size: 16px; /* Reset font size */
      color: var(--profile-username); /* Reset color */
    }
  
    .search-bar {
      margin-left: 55px;
    }
  }
  
  /* Hide scrollbar for the sidebar */
  .sidebar {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }
  
  .sidebar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  /* Hide scrollbar for the main website */
  html, body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }
  
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  .progress-container {
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #0d1b2a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
  .progress-bar {
    width: 55px;
    height: 55px;
    position: absolute;
    border-radius: 50%;
    background: conic-gradient(#0f324d 0%, #208277 var(--progress), #ffffff var(--progress), #f3f3f3 100%);
    z-index: -1;
}
.scroll-button {
    color: var(--scroll-button-font);
    width: 50px;
    height: 50px;
    background-color: var(--scroll-button-bg);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-button:focus {
    outline: none;
}

.progess {
    color: #ffffff;
    margin-left: 50px;
}