footer {
    background: var(--background-color);
    padding-top: var(--space-sm);
}

.footer {
    background-color: var(--primary-color);
    color: var(--off-white);
    text-align: center;
    padding: 1.5em 1em;
    font-size: 0.9rem;
    border-top: 1px solid var(--border-color);
}

.footer-container {
    width: 100%;
}

.footer-links {
    margin: 1em 0;
}

.footer-links a {
    margin: 0 0.5em;
    color: var(--off-white);
    text-decoration: none;
    font-weight: 500;
    white-space: nowrap;
    transition: text-decoration 0.3s ease;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons a i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: var(--space-xs);
    filter: brightness(0) invert(1);
    /* makes SVG white */
    transition: transform 0.2s ease;
}

.social-icons a:hover i {
    transform: scale(1.1);
}


@media screen and (min-width: 1024px) {
    footer {
        grid-area: footer;
        margin-bottom: var(--space-xs);
    }

    .footer {
        border-radius: var(--radius-sm);
        margin-right: .5em;
    }
}