@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root {
    --background-color: #0a0f15;
    --primary-color: #011522;
    --secondary-color: #152238;
    --accent-color: #5C59FF;
    --accent-bg: #2a2880;
    --font-color-primary: #FFFFFF;
    --font-color-secondary: #def6ffa3;
    --off-white: #f1faee;
    --hover-color: #8C84FF;

    --special-card-font-header: #9eed00;
    --special-card-font-para: #00ffff;
    --btnBg: linear-gradient(45deg, #5C59FF, #2a2880);
    --btnBgHover: linear-gradient(45deg, #2a2880, #5C59FF);
    --heading: linear-gradient(to right, #5c59ff, #fff);
    --heading2: linear-gradient(to right, var(--accent-color), var(--hover-color));
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color: var(--hover-color) #141348;
    font-family: "Sora", serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "sidebar navbar"
        "sidebar main"
        "sidebar footer";
    background-color: var(--background-color);
    color: var(--font-color);
    overflow: scroll;
    overflow-x: hidden;
    /* Allow scrolling */
    -ms-overflow-style: none;
    /* For Internet Explorer */
}

.fixed-contact {
    position: fixed;
    right: 10px;
    bottom: 30px;
    font-size: 2vh;
    color: var(--off-white);
    background: var(--btnBg);
    padding: .8em;
    font-weight: 500;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    white-space: nowrap;
    z-index: 997;

    svg {
        height: 20px;
        width: 20px;
        fill: var(--off-white);
    }
}

.fixed-contact::after {
    content: "";
    background-color: #2a2880;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    bottom: -4px;
}

nav {
    grid-area: navbar;
    width: 100%;
    position: sticky;
    padding: 0.5em 0;
    top: 0;
    z-index: 997;
    background-color: var(--background-color);
}

.header {
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: var(--primary-color);
    margin-right: .5em;
    border-radius: 30px;
    padding: 0.5em;
}

.header-logo img {
    max-height: 40px;
    max-width: 40px;
    cursor: pointer;
    filter: brightness(.9);
}

.nav-button {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-button p {
    font-size: 1rem;
    color: var(--off-white);
    cursor: pointer;
    transition: color ease 0.3s;
    padding: .5em;
    border-radius: 30px;

}

.nav-button p:hover {
    /* background-color: var(--font-color-secondary); */
    color: var(--accent-color);
}

.header button {
    font-size: clamp(4px, 1.8vh, 16px);
    color: var(--font-color-primary);
    background: var(--btnBg);
    border: none;
    padding: .8em;
    font-weight: 600;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    gap: 5px;
    margin-left: 5px;

    svg {
        height: 20px;
        width: 20px;
        fill: var(--off-white);
    }
}

.header button:hover {
    background: var(--btnBgHover);
}

.search-bar {
    width: 100%;
    height: 40px;
    background-color: var(--special-card-bg);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    display: none;
}

.searchInput {
    height: 100%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    color: var(--font-color-1);
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 5px;
    column-rule-style: red;
    font-size: 18px;
    outline: none;
}

#searchInput::placeholder {
    color: var(--font-color-2);
    font-size: 18px;
}

.search-arrow {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 5px;
    z-index: 1002;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--off-color);
    cursor: pointer;
}

.search-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 5px;
    z-index: 1001;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--off-color);
    cursor: pointer;
}

aside {
    grid-area: sidebar;
    position: sticky;
    height: 100vh;
    top: 0;
    background-color: var(--background-color);
    z-index: 998;
    padding: .5em;
}

.sidebardiv {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

.sidebardiv ul {
    list-style: none;
}

.sidebar>.sidebardiv>ul>li:first-child {
    display: flex;
    justify-content: right;
    margin-bottom: 16px;

    .logo {
        font-weight: 600;
        background-image: var(--heading2);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.sidebardiv a span,
.sidebardiv .dropdown-btn span {
    flex-grow: 1;
}

.close-menu {
    display: none;
}

.open-menu {
    display: none;
}

.sidebar.close {
    padding: 5px;
    width: 65px;
}

.sidebardiv a,
.sidebardiv .dropdown-btn,
.sidebardiv .logo {
    border-radius: .5rem;
    padding: 0.7em;
    text-decoration: none;
    color: var(--off-white);
    display: flex;
    align-items: center;
    gap: 1.05em;
    font-size: 1.2rem;
    transition: all ease 0.3s;
}

.sidebardiv a:hover,
.sidebardiv .dropdown-btn:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    transition: all ease 0.3s;

    svg {
        fill: var(--accent-color);
        transition: all ease 0.3s;
    }
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

.project-dropdown li a {
    padding: .8em 1.05em;
}

.sidebardiv ul li svg {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    fill: var(--off-white);
}

.sidebardiv .sub-menu {
    display: grid;
    transition: 300ms ease-in-out;
    grid-template-rows: 0fr;

    >div {
        overflow: hidden;
    }
}

.sidebardiv .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: -180deg;
}

.sidebardiv .sub-menu {
    padding-left: 2.5em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color: var(--secondary-color);
}

main {
    grid-area: main;
}

/* Loading screen styling */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 1.5s ease-in-out;
}

.loading-text {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    animation: fadeIn 1.5s ease-in-out infinite alternate;
}

/* Keyframe for text fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

/* Animation to slide the loading screen up */
.loading-screen.slide-up {
    transform: translateY(-100%);
}

footer {
    background: var(--background-color);
    grid-area: footer;
    padding: 0.5em 0;
    /* height: 50px; */
}

.footer {
    text-align: center;
    justify-content: center;
    background: var(--primary-color);
    padding: 1em 0;
    border-radius: 8px;
    margin-right: .5em;
}

.footer p {
    color: var(--font-color-secondary);
    padding: 3px 0;
}

.footername {
    text-decoration: none;
    color: #ff2b52;
}


@media (max-width: 681px) {
    html {
        scrollbar-width: none;
    }

    body::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari, and Opera */
    }

    aside {
        position: fixed;
        top: 0px;
        left: -300px;
        width: 250px;
        height: 100vh;
        background-color: var(--background-color);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
    }

    .sidebardiv {
        background-color: transparent;
    }

    #toggle-btn {
        display: none;
    }

    .close-menu {
        display: block;
    }

    #menuToggleClose {
        position: absolute;
        right: -50px;
        top: 15px;
        cursor: pointer;
    }

    .open-menu {
        display: block;
        position: absolute;
        left: .5em;
        border: none;
        border-radius: 0.5em;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .header-logo {
        display: none;
    }

    nav {
        padding: 0.3em 0;
        background-color: #00000009;
        backdrop-filter: blur(200px);
    }

    /* Header styles */
    .header {
        width: 100%;
        border-radius: 0;
        background-color: transparent;
        align-items: center;
        justify-content: right;
    }

    .header svg {
        height: 40px;
        width: 40px;
        fill: var(--off-white);
    }

    .nav-button {
        gap: 8px;
    }

    .logo{
        margin-right: auto;
    }

    /* .search-bar {
        width: 100%;
        height: 40px;
        background-color: var(--special-card-bg);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
    }

    .searchInput {
        height: 100%;
        width: auto;
        border-radius: 30px;
        border: none;
        background-color: transparent;
        color: var(--font-color-1);
        margin-left: 40px;
        padding-left: 5px;
        column-rule-style: red;
        font-size: 18px;
        outline: none;
    }

    #searchInput::placeholder {
        color: var(--font-color-2);
        font-size: 18px;
    }

    .search-arrow {
        height: 30px;
        width: 30px;
        position: absolute;
        left: 5px;
        z-index: 1;
        border: none;
        border-radius: 50%;
        background-color: transparent;
        color: var(--off-color);
        cursor: pointer;
    }

    .search-icon {
        height: 30px;
        width: 30px;
        position: absolute;
        right: 5px;
        z-index: 1;
        border: none;
        border-radius: 50%;
        background-color: transparent;
        color: var(--off-color);
        cursor: pointer;
    } */

    footer {
        padding: 0;
    }

    .footer {
        text-align: center;
        justify-content: center;
        background: var(--primary-color);
        padding: 1em 0;
        border-radius: 0;
        margin-right: 0;
    }

    aside.open {
        transform: translateX(300px); /* Slide in */
    }

    aside.closed {
        transform: translateX(-300px); /* Slide out */
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.83);
        /* Semi-dark background */
        z-index: 998;
        /* Just below the sidebar */
        display: none;
        /* Initially hidden */
    }

    #overlay.active {
        display: block;
        /* Display the overlay when sidebar is open */
    }
}