@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root {
    --background-color: #0a0f15;
    --primary-color: #011522;
    --secondary-color: #152238;
    --accent-color: #5C59FF;
    --accent-bg: #2a2880;
    --font-color-primary: #FFFFFF;
    --font-color-secondary: #def6ffa3;
    --off-white: #f1faee;
    --hover-color: #8C84FF;

    --special-card-font-header: #9eed00;
    --special-card-font-para: #00ffff;
    --btnBg: linear-gradient(45deg, #5C59FF, #2a2880);
    --btnBgHover: linear-gradient(45deg, #2a2880, #5C59FF);
    --heading: linear-gradient(to right, #5c59ff, #fff);
    --heading2: linear-gradient(to right, var(--accent-color), var(--hover-color));

    --br1: 10px;
    --br2: 40px;
    --stdem: 1em;
    --stdem2: .5em;
    --padding1: 1em;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color: var(--hover-color) #141348;
    font-family: "Sora", serif;
    box-sizing: border-box;
}

#backToTopBtn {
    position: fixed;
    bottom: 90px;
    right: .5em;
    z-index: 999;
    font-size: 20px;
    height: 45px;
    width: 45px;
    background: var(--btnBg, #9eed00);
    color: var(--off-white, #fff);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: ease-in 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#backToTopBtn:hover {
    background: var(--btnBgHover, #9eed00);
}

html {
    scrollbar-width: none;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* For Internet Explorer */
}

body::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.fixed-contact {
    position: fixed;
    right: 10px;
    bottom: 30px;
    font-size: 2vh;
    color: var(--off-white);
    background: var(--btnBg);
    padding: .8em 1em;
    font-weight: 500;
    border-radius: var(--br2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    z-index: 997;
    transition: all 0.3s ease-in-out;
}

.fixed-contact svg {
    height: 24px;
    width: 24px;
    fill: var(--off-white);
    transition: all 0.3s ease-in-out;
}

.fixed-contact .contact-text {
    display: inline;
    transition: all 0.3s ease-in-out;
}

.fixed-contact.hide-text .contact-text {
    opacity: 0;
    width: 0;
    overflow: hidden;
    margin-left: 0;
}

.fixed-contact::after {
    content: "";
    background-color: #2a2880;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    bottom: -4px;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    z-index: 998;
    display: none;
}

#overlay.active {
    display: block;
}

@media screen and (min-width: 1024px) {

    html {
        scrollbar-width: thin;
        scroll-behavior: smooth;
    }

    body {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "sidebar navbar"
            "sidebar main"
            "sidebar footer";
    }

    main {
        grid-area: main;
    }
}