main {
    overflow-x: hidden;
}

#heroSection {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2em;
    background-color: transparent;
    padding: 0 1em 2em;
}

.hero:after {
    display: none;
}

/* Left Content */
.content {
    width: 100%;
    display: grid;
    gap: 1em;
    text-align: justify;
    align-items: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "box1"
        "box2"
        "box3";
}

.content-heading {
    grid-area: box1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em
}

.content h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
    color: var(--font-color-primary);
}

.content h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    background-image: var(--heading);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-image {
    grid-area: box2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    filter: brightness(1.1);
    width: 62%;
    background: var(--primary-color);
    border-radius: var(--br2);
    overflow: hidden;
    outline: 2px solid #7247ff81;
    transition: all 0.5s ease;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.image-wrapper:hover {
    outline: 3px solid var(--accent-color);
}

.content-details {
    grid-area: box3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.content p {
    width: 100%;
    text-align: justify;
    z-index: 33;
    font-size: 1rem;
    color: var(--font-color-secondary);
    line-height: 1.4;
    padding: 0 1em;
}

.landing-accent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.cv-btn {
    background: var(--btnBg);
    color: var(--font-color-primary);
    padding: 0.8em;
    font-size: 2vh;
    border: none;
    border-radius: var(--br2);
    margin-right: 0;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.cv-btn:hover {
    background: var(--btnBgHover);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.social-links a {
    font-size: 1.5rem;
    color: var(--font-color-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--font-color-primary);
}

.smry {
    color: var(--font-color-primary);
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1em;
}

.smry-div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5em;
}

.smry h3 {
    font-size: clamp(24px, 10vw, 50px);
}

.smry p {
    font-size: clamp(12px, 1.2vw, 24px);
}


@media screen and (min-width: 1024px) {

    .hero:after {
        content: "";
        position: absolute;
        top: 300px;
        left: 500px;
        width: 322px;
        height: 308px;
        border-radius: 50%;
        background: var(--primary-color);
        background: -o-linear-gradient(190deg, var(--accent-bg) 0%, rgba(115, 67, 210, 0) 100%);
        background: linear-gradient(260deg, var(--accent-bg) 0%, rgba(115, 67, 210, 0) 100%);
        -webkit-filter: blur(150px);
        filter: blur(150px);
        z-index: -1;
        display: block;
    }

    /* Left Content */
    .content {
        width: 100%;
        text-align: left;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "box1 box2"
            "box3 box2";
    }

    .content h2 {
        font-size: clamp(16px, 1.5vw, 28px);
    }

    .content h1 {
        font-size: clamp(30px, 4vw, 55px);
    }

    .content p {
        font-size: clamp(16px, 1vw, 28px);
        padding: 0;
    }

    .content-heading {
        padding: 0 1em;
        height: 100%;
        justify-content: end;
    }

    .content-details {
        height: 100%;
        padding: 0 1em;
    }

    .content-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .landing-accent {
        flex-direction: row;
        justify-content: left;
        gap: 2em;
    }

    .image-wrapper {
        transform: rotate(5deg);
    }

    .image-wrapper:hover {
        transform: rotate(0deg);
    }

    .smry {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .smry h3 {
        font-size: clamp(24px, 10vw, 50px);
    }

    .smry p {
        font-size: clamp(12px, 1.2vw, 24px);
    }
}