/* Define custom colors for Dark Theme */

:root.dark-theme {
  --card-color-1: #1b263b;
  --card-color-2: #415a77;
  --card-color-3: #23314f;
  --card-font-1:#ffffff;
  --card-font-2:#d6d6d6;
  --card-font-3:#778da9;
  --card-link-hover-font: #00ff00;
  --card-link-hover-shadow: 0 2px 8px #00ff00;
  --font-color-1: #ffffff;
  --font-color-2: #ffffffb8;
  --font-color-3: #ffffff52;
  --section-font: #E0E1DD;
  --card-color-link:#c8c8c8;
  --action-bg: #f1faee;
  --action-font: #000000;
  --action-hover-shadow: 0 2px 8px #000000;
  --action-hover-font: #000000;
  --profile-bg: #1b263b;
  --profile-name:#ffffff;
  --profile-username: #ffffffad;
  --sidebar-hover-font: #feff16;
  --theme-switch-font: #ffffff;
  --theme-switch-bg: #feff16;
  --theme-switch-shadow: #ffffff;
  --scroll-button-font: #ffffff;
  --scroll-button-bg: #0d1b2a;
  --exp-header-shadow: #ffffff00;
  --searchBar-component: #ffffff80;
  --searchbaractive: #11253a;
  --placeholderfont:#ffffff6c;
  --project-link-hover: #feff16;
  --project-link-hover-font:#1D3557;
}

/* Define custom colors for Light Theme */

:root.light-theme {
  --card-color-1: #CED4DA;
  --card-color-2: #343A40;
  --card-color-3: #212529;
  --card-font-1:#000000;
  --card-font-2:#000000;
  --card-font-3:#000000;
  --card-link-hover-font: #00ff00;
  --card-link-hover-shadow: 0 2px 8px #e63946;
  --font-color-1: #000000;
  --font-color-2: #0000009e;
  --font-color-3: #0000004f;
  --section-font: #1D3557;
  --overlay-color: #00000099;
  --card-color-link:#3a3737;
  --action-bg: #f1faee;
  --action-font: #1D3557;
  --action-hover-shadow: 0 2px 8px #000000;
  --action-hover-font: #ffffff;
  --profile-bg: #6C757D;
  --profile-name:#000000;
  --profile-username: #0000008e;
  --sidebar-hover-font: #e63946;
  --theme-switch-font: #ffffff;
  --theme-switch-bg: #e63946;
  --theme-switch-shadow: #ffffff;
  --scroll-button-font: #000000;
  --scroll-button-bg: #cbf3f0;
  --exp-header-shadow: #00000000;
  --searchBar-component: #00000080;
  --searchbaractive: #f1faee;
  --placeholderfont:#000000a2;
  --project-link-hover: red;
  --project-link-hover-font:#F1FAEE;
}

* {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  text-align: center;
}

/* Profile Info styles */
.profile-info {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 20px;
  text-align: center;
  background-color: var(--profile-bg);
}

.profile-image {
  background-image: url('/media/image/profileimage.jpeg');
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-details {
  position: relative;
  align-items: left;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 28px;
  color: #ffffff;
  font-family: 'Caudex', serif;
}

.username {
  font-size: 16px;
  color: #ffffffad;
}

.button-container {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons as needed */
}

.email-button,
.resume-button {
  margin-top: 10px; /* Remove top margin since it's now managed by the container */
}

.email-button a, 
.resume-button a {
  display: inline-block;
  background-color: var(--action-bg);
  color: var(--action-font);
  padding: 10px 10px;
  border-radius: 40px;
  text-decoration: none;
}

.email-button a:hover,
.resume-button a:hover {
  background-color: var(--sidebar-hover-font);
  box-shadow: var(--action-hover-shadow);
  font-size: 17px;
}

.email-button a i,
.resume-button a i {
  margin-right: 10px; /* Add spacing between icon and text */
}

.all-projects {
  display: flex;
  position: relative;
  justify-content:space-between;
  align-items: center;
  padding:0 20px 0 20px;
}

.projects-title2 {
  font-family: "Caveat", cursive;
  color: var(--section-font);
  cursor: pointer;
  right: 20px;
}

.projects-title2:hover {
  color: var(--card-link-hover-font);
}

#sectionTitle {
  font-family: "Caveat", cursive;
  color: var(--section-font);
  padding: 20px 0 20px 0;
}

.project-card-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px 0 20px;
}

.project-card-link {
  text-decoration: none;
}

.project-card {
  background-color: var(--card-color-1);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 270px; /* Adjust this height to ensure square cards */
  transition: opacity 0.5s, height 0.5s;
  overflow: hidden;
  pointer-events: auto; /* Ensures the card is interactable */
}

.project-card:hover {
  transform: scale(1.05); /* Zoom effect */
}

.project-card h3,
.project-card p {
  text-decoration: none; /* Remove underline from text */
}

.project-card-image {
  height: 100%;
  flex: 2;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.project-card-content {
  flex: 1;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.project-card h3 {
  margin: 10px 0;
  font-size: 20px;
  color: var(--card-font-1);
}

.project-card p {
  margin: 0;
  font-size: 14px;
  color: var(--card-font-2);
  text-decoration: none;
}

.link-highlight {
  background-color: var(--primary-color); /* Highlight background color */
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0;
  color: var(--card-color-link);
}

.link-highlight:hover {
  background-color: var(--project-link-hover);
  color: var(--project-link-hover-font);
}

.knowledge-container {
  font-family: poppins;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px 0 20px;
}

.knowledge-card {
  background-color: var(--card-color-2);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  text-align: left;
}

.knowledge-content h4 {
  color: #ffffff;
  padding: 10px 0 20px 10px;
}

.knowledge-content p {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px;
  margin-top: -15px;
  color: var(--font-color-1);
}

.knowledge-content p, h4 {
  padding-top: 10px;
}

.highlight {
  background-color: var(--primary-color); /* Highlight background color */
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 2px 0;
}

.exp-container {
  font-family: poppins;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px 0 20px;
  justify-content: center;
}

.exp-card {
  background-color: var(--card-color-1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 35px;
}

.exp-header {
  background-color: #fffc57;
  background-size:cover;
  background-position: center;
  height: 90px;
  width: 50%;
  border-radius: 15px;
  margin-top: -45px;
}

.exp-content {
  color: var(--card-font-2);
}

.exp-content p,h3 {
  padding: 7px;
}

#com-des {
  color: var(--font-color-1);
}

.edu-container {
  font-family: poppins;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px 20px 20px;
  justify-content: center;
}

.edu-card {
  background-color: var(--card-color-3);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.edu-header {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: -45px;
}

.edu-header:hover {
  box-shadow: 0 0 20px #415a77;
  transform: scale(1.05); /* Zoom effect */
}

.edu-content p {
  color: #f1faeebe;
}

.edu-content p,h3 {
  padding: 7px;
}

#dig-dep {
  color: #F1FAEE;
}

.course {
  font-size: 20px;
}

/* Media query for mobile view */
@media (max-width: 1200px) {
  main {
    margin-top: 60px; 
  }
  .profile-info {
    position: relative;
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    justify-content: flex-start; /* Align content to the left */
    align-items: left; /* Align items vertically */
  }

  .profile-details {
    position: relative;
    align-items: left;
    text-align: left;
  }
}
