* {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  text-align: center;
}

/* Profile Info styles */
.profile-info {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 20px;
  text-align: center;
  background-color: var(--profile-bg);
}

.profile-image {
  background-image: url('/media/image/profileimage.jpeg');
  background-size: cover;
  background-position: center;
  width: 20vw;
  height: 20vw;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}


.profile-details {
  align-items: left;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: clamp(16px, 10vw, 30px);
  color: var(--profile-name);
  font-family: 'Caudex', serif;
}

.username {
  font-size: clamp(8px, 5vw, 16px);
  color: var(--profile-username);
}

.button-container {
  display: flex;
  gap: 10px;
  /* Adjust the gap between buttons as needed */
}

.email-button,
.resume-button {
  margin-top: 10px;
  white-space: nowrap;
}

.email-button a,
.resume-button a {
  display: inline-block;
  background-color: transparent;
  color: var(--off-color);
  outline: solid 2px var(--off-color);
  padding: 8px 8px;
  border-radius: 40px;
  text-decoration: none;
  font-size: clamp(10px, 5vw, 16px);
}

.email-button a:hover,
.resume-button a:hover {
  box-shadow: var(--action-hover-shadow);
  background-color: var(--off-bg-color-hover);
  color: var(--off-color-hover);
  transition: ease-in-out 0.3s;
}

.email-button a i,
.resume-button a i {
  margin-right: 10px;
  /* Add spacing between icon and text */
}

.all-projects {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.projects-title2:hover {
  color: var(--section-title-hover-font);
}

#sectionTitle {
  font-family: "Caveat", cursive;
  color: var(--section-font);
  font-size: clamp(10px, 12vw, 26px);
  position: relative;
  padding: 20px 0 20px 0;
}

.button-icon {
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: var(--git-btn);
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: red;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

.github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.project-card-link {
  text-decoration: none;
}

.project-card {
  height: 270px;
  background-color: var(--card-color-1);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.5s, height 0.5s;
  overflow: hidden;
  pointer-events: auto;
}

.project-card:hover {
  transform: scale(1.05);
  /* Zoom effect */
}

.project-card h3,
.project-card p {
  text-decoration: none;
  /* Remove underline from text */
}

.project-card-image {
  height: 100%;
  flex: 2;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.project-card-content {
  flex: 1;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.project-card h3 {
  margin: 10px 0;
  font-size: clamp(10px, 10vw, 20px);
  color: var(--card-font-1);
}

.project-card p {
  margin: 0;
  font-size: clamp(6px, 10vw, 14px);
  color: var(--card-font-2);
  text-decoration: none;
}

.link-highlight {
  background-color: var(--primary-color);
  /* Highlight background color */
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0;
  color: var(--card-color-link);
}

.link-highlight:hover {
  background-color: var(--project-link-hover-bg);
  color: var(--project-link-hover-font);
  transition: ease-in-out 0.3s;
}

.knowledge-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 0 10px;
  overflow-x: hidden;
}

.knowledge-card {
  width: 300px;
  height: 220px;
  margin: 0 auto;
  background-color: var(--special-card-bg);
  border-radius: 8px;
  z-index: 1;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.knowledge-card-content {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 10px 0 10px;
  text-align: left;
}

.knowledge-card-content h4 {
  color: var(--special-card-font-header);
  font-size: 14px;
  font-family: "Fira Code", monospace;
}

.knowledge-card-content p {
  font-size: 14px;
  color: var(--special-card-font-para);
  font-family: "Fira Code", monospace;
}

.exp-container {
  background-color: Black;
  padding: 0 20px 20px;
}

.exp-bill-board {
  color: #fff;
  font-size: 3.9rem;
  text-align: left;
}

.exp-num {
  font-size: 80px;
  color: #f1faee81;
}

/* Accordion Container */
.accordion {
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

/* Accordion Toggle Button */
.accordion-toggle {
  width: 100%;
  background-color: #1b263b;
  border: none;
  outline: none;
  color: #e0e0e0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px 8px 0 0;
  padding: 30px 10px;
}

.accordion-item {
  width: 400px;
}

.accordion-toggle:hover {
  background-color: #1d3557;
}

/* Accordion Content */
.accordion-content {
  width: 100%;
  background: var(--special-card-bg);
  display: none;
  border-radius: 0 0 8px 8px;
  border-bottom: 1px solid #ff0000;
}

/* Show content when active */
.accordion-item.active .accordion-content {
  display: block;
}

/* Transition for smooth expanding */
.accordion-content p {
  margin: 0;
}

/* Additional Styling */
.accordion-content p {
  color: #f1faee;
  padding: 10px;
  font-size: 1.3rem;
}

/* Add icons to the button */
.accordion-toggle::before {
  content: '+';
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  transition: transform 0.3s;
}

/* Rotate icon when active */
.accordion-item.active .accordion-toggle::before {
  transform: rotate(45deg);
}

.accordion-item .pispl {
  color: #627cfe;
}
.accordion-item .wow-momo {
  color: #ff6f00;
}
.accordion-item .think-again-lab {
  color: #ffee00;
}

.edu-container {
  font-family: "inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px;
  justify-content: center;
}

.edu-card {
  background-color: var(--card-color-2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.edu-header {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: -45px;
}

.edu-header:hover {
  box-shadow: 0 0 20px #415a77;
  transform: scale(1.05);
  /* Zoom effect */
}

.edu-content {
  line-height: 24px;
  padding-bottom: 10px;
}

.edu-content p {
  color: #f1faeebe;
}

#dig-dep {
  color: #F1FAEE;
}

.course {
  font-size: 20px;
}

#achievementSection {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

/* From Uiverse.io by gharsh11032000 */
.card {
  position: relative;
  width: 300px;
  height: 200px;
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px var(--off-bg-color);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

.card img {
  width: 100%;
  background-size: cover;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 8px 16px var(--off-bg-color);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: var(--off-bg-color-hover);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: var(--reverse-font-color-1);
  font-weight: 600;
}

.card:hover img {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: var(--reverse-font-color-2);
  line-height: 1.4;
}

/* Media query for mobile view */
@media (max-width: 680px) {
  .profile-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    padding: 80px 20px 20px 20px;
  }

  .profile-details {
    position: relative;
    align-items: left;
    text-align: left;
  }

  #achievementSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .accordion {
    flex-direction: column;
    overflow-x: hidden;
  }

  .accordion-item {
    width: 100%;
  }

  .knowledge-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
    padding: 0 10px;
    overflow-x: hidden;
  }
  

  .knowledge-card {
    width: 170px;
    height: 236px;
    margin: 0 auto;
    background-color: var(--special-card-bg);
    border-radius: 8px;
    z-index: 1;
  }
}