@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root {
    --background-color: #010006;
    --primary-color: #011522;
    --secondary-color: #152238;
    --accent-color: #5C59FF;
    --accent-bg: #2a2880;
    --font-color-primary: #FFFFFF;
    --font-color-secondary: #def6ffa3;
    --off-white: #f1faee;
    --hover-color: #8C84FF;

    --special-card-font-header: #9eed00;
    --special-card-font-para: #00ffff;
    --btnBg: linear-gradient(45deg, #5C59FF, #2a2880);
    --btnBgHover: linear-gradient(45deg, #2a2880, #5C59FF);;
    --heading: linear-gradient(to right, #5c59ff, #fff);
    --heading2: linear-gradient(to right, var(--accent-color), var(--hover-color));
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color: var(--hover-color) #141348;
    font-family: "Sora", serif;
    box-sizing: border-box;
}

.header h5 {
    font-size: clamp(.8rem, 1.5vw, 40px);
    width: fit-content;
    background-image: var(--heading2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    overflow-y: scroll;
}

main {
    margin-right: .5em;
}

footer {
    position: sticky;
    bottom: 0;
    right: 0;
}

@media (max-width: 681px) {

    main {
        margin-right: 0;
    }
    
    iframe {
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        overflow-y: scroll;
    }
}