.header h5 {
    width: fit-content;
    background-image: var(--heading2);
    margin-right: auto;
    margin-left: 4em;
    font-size: clamp(1rem, 3vw, 40px);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

iframe {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    border: none;
    overflow-y: scroll;
}

main {
    margin-right: 0;
}

@media screen and (min-width: 1024px) {
    .header h5 {
        font-size: clamp(.8rem, 1.5vw, 40px);
        margin-right: 0;
    }
    
    iframe {
        border-radius: 8px;
    }
    
    main {
        margin-right: .5em;
    }
}