/* Define custom colors for Dark Theme */

:root.dark-theme {
  --primary-color: #0d1b2a;
  --card-color-1: #1b263b;
  --card-color-2: #1d3557;
  --card-font-1:#ffffff;
  --card-font-2:#d6d6d6;
  --card-font-3:#778da9;
  --font-color-1: #ffffff;
  --font-color-2: #ffffffa1;
  --font-color-3: #ffffff52;
  --overlay-color: #00000099;
  --card-color-link:#c8c8c8;
  --section-font: #f1faee;
  --action-bg: #f1faee;
  --action-font: #1D3557;
  --action-hover-shadow: 0 2px 8px #000000;
  --action-hover-font: #000000;
  --profile-bg: #1b263b;
  --profile-name:#ffffff;
  --profile-username: #ffffffad;
  --sidebar-hover-font: #feff16;
  --theme-switch-hover-font: #1d3557;
  --theme-switch-hover-bg: #f1faee;
  --scroll-button-font: #ffffff;
  --scroll-button-bg: #0d1b2a;
  --exp-header-shadow: #ffffff00;
  --searchBar-component: #ffffff80;
  --searchbaractive: #11253a;
  --placeholderfont:#ffffff6c;
  --aboutme:#ffffff;
  --backgroundbg: linear-gradient(rgba(0,0,0, 0.766), rgba(0, 0, 0, 0.766)), url("/media/image/second-bg.png");
  --bgoverlay: #0a1521a5;
  --sidebar-shadow: 3px 0px 20px #ffffff30;
  --mainbgimg: url("/media/image/main-bg.jpg");
  --aboutme-details:#00000032;
  --section-title-hover-font: rgb(0, 255, 0);
  --project-link-hover-font: #1d3557;
  --project-link-hover-bg: #f1faee;
  --off-color: #f1faee;
  --off-bg-color: #1d3557;
  --off-color-hover: #1d3557;
  --off-bg-color-hover: #f1faee;
}

/* Define custom colors for Light Theme */

:root.light-theme {
  --primary-color: #ffffff;
  --card-color-1: #CED4DA;
  --card-color-2: #1d3557;
  --card-font-1:#000000;
  --card-font-2:#000000;
  --card-font-3:#000000;
  --font-color-1: #000000;
  --font-color-2: #00000099;
  --font-color-3: #0000004f;
  --overlay-color: #00000099;
  --card-color-link:#3a3737;
  --section-font: #1D3557;
  --action-bg: #1D3557;
  --action-font: #f1faee;
  --action-hover-shadow: 0 2px 8px #000000;
  --action-hover-font: #ffffff;
  --profile-bg: #f1faee;
  --profile-name:#1D3557;
  --profile-username: #1d355786;
  --sidebar-hover-font: #e63946;
  --theme-switch-hover-font: #ffffff;
  --theme-switch-hover-bg: #1d3557;
  --scroll-button-font: #000000;
  --scroll-button-bg: #cbf3f0;
  --exp-header-shadow: #00000000;
  --searchBar-component: #00000080;
  --searchbaractive: #ADB5BD;
  --placeholderfont:#000000a2;
  --aboutme:#000000;
  --backgroundbg: linear-gradient(to right, #ff4665, #ff6430);
  --bgoverlay: #0a1521a5;
  --sidebar-shadow: 3px 0px 20px #0000004b;
  --mainbgimg: #f1faee;
  --aboutme-details:#ffffff00;
  --section-title-hover-font: rgb(0, 0, 255);
  --project-link-hover-font: #f1faee;
  --project-link-hover-bg: #1d3557;
  --off-color: #1d3557;
  --off-bg-color: #f1faee;
  --off-color-hover: #f1faee;
  --off-bg-color-hover: #1d3557;
}

html {
  background-image: var(--mainbgimg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

*{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  text-decoration: none;
}

.theme-switch {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  color: #000000;
  background-color: var(--font-color-3);
  border-radius: 17px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.theme-switch:hover {
  background-color: var(--theme-switch-hover-bg);
  color: var(--theme-switch-hover-font);
  transition: ease-in-out 0.3s;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0px;
  left: -270px;
  width: 270px;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--primary-color);
  transition: left 0.3s ease;
  box-sizing: border-box;
  z-index: 1000;
  padding: 30px 20px 20px 20px;
}

.sidebar.show {
  left: 0;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li i {
  padding-right: 20px; /* Space between icon and text */
  display: flex;
  align-items: center; /* Vertically center the icon */
}

.sidebar ul li a {
  color: var(--off-color);
  text-decoration: none;
  font-size: 22px;
  display: flex;
  align-items:baseline;
  margin-top: 10px;
  border-radius: 7px;
  padding: 10px;
}

.sidebar ul li :hover {
  background-color: var(--off-bg-color-hover);
  color: var(--off-color-hover);
  transition: ease-in-out 0.3s;
}

.sidebar .section-title {
  font-size: 22px;
  padding-top: 25px;
  color: var(--profile-username);
  display: flex;
  align-items: left;
}

.sidebar ul li i {
  padding-right: 20px;
}

/* Dark Overlay Styles */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color); /* Semi-transparent black */
  z-index: 999; /* Should be less than the sidebar's z-index */
  display: none; /* Initially hidden */
}

#overlay.show {
  display: block; /* Show the overlay when the sidebar is open */
}

.background {
  background-image: var(--backgroundbg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  justify-content: center;
}

.profilelogo {
  background-color: #ff2b52;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.LandingSocialContainer{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.con1 {
  display: flex;
  flex-direction: row;
}

.LandingSocial {
  color: #f1faeeb0;
  font-size: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.LandingSocial:hover {
  color: #f1faee;
  transition: ease-in-out 0.3s;
}

.visitPortfolio {
  text-decoration: none;
  color: #f1faee;
  margin-top: 20px;
  background-color: #ff2b52;
  padding: 10px;
  border-radius: 20px;
}

.visitPortfolio:hover {
  text-decoration: none;
  color: #f1faee;
  margin-top: 20px;
  background-color: red;
  padding: 10px;
  border-radius: 20px;
}

.visitPortfolio a {
  padding: 10px;
  border-radius: 40px;
}

/* Hide scrollbar for the sidebar */
.sidebar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.sidebar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* Hide scrollbar for the main website */
html, body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

html {
  scroll-behavior: smooth;
}

hr {
  margin: 20px 0 20px 0;
}

@media (max-width:1200px) {
  /* Header styles */
  .header {
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    position: fixed; /* Fix the header at the top */
    justify-content: space-evenly;
    align-items: center;
    transition: top 0.3s; /* Smooth transition */
    z-index: 998;
  }

  /* Menu toggle button */
  .menu-toggle {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    z-index: 1001;
  }

  /* Styles for menu toggle icon bars */
  .menu-toggle .bar {
    width: 32px;
    height: 3px;
    background-color: var(--off-color); /* Change to white */
    margin: 5px 0 5px 0;
    border-radius: 10px; /* Adjust the roundness of the bars */
  }

  .search-bar {
    width: calc(100% - 60px);
    height: 40px;
    background-color: var(--searchbaractive);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
  }
  
  .searchInput {
    height: 100%;
    width: auto;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    color: var(--font-color-1); /* Change text color */
    margin-left: 40px;
    padding-left: 5px;
    column-rule-style: red;
    font-size: 18px;
    outline: none;
  }

  #searchInput::placeholder {
    color: var(--placeholderfont); /* Change placeholder text color */
    font-size: 18px;
  }
  
  .search-arrow {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 5px;
    z-index: 1;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--off-color);
    cursor: pointer;
  }
  
  .search-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 5px;
    z-index: 1;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--off-color);
    cursor: pointer;
  }

  .background {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  .logocontainer img {
    max-width: 20%;
    height: auto;
  }

  .details {
    text-align: center;
    padding: 0 16px 0 16px;
  }

  .details p {
    color:#f1faee;
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }

  .hello {
    font-size: 60px;
    color: #f1faee;
    font-weight: bold;
    text-align: center;
  }

  .main22 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .main22 h2{
    color: var(--font-color-1);
  }

  .main33 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main44 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
  }

  .main44 p {
    font-size: 20px;
    line-height: 35px;
    color: var(--font-color-2);
    padding: 0 20px 0 20px;
  }

  .main44 h3 {
    color: var(--font-color-1);
    margin-bottom: 20px;
  }
  
  .aboutme {
    color: var(--font-color-1);
  }
  
  .picture {
    padding-top: 20px;
  }

  .picture img {
    width: 350px;
    height: auto;
    border-radius: 15px;
  }

  .footer {
    position: absolute;
    width: 100%;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    background-color: #0e0e21;
  }
  
  .footer p{
    color: #ffffff5c;
  }
  
  .footername {
    text-decoration: none;
    color: #ff2b52;
  }
}

@media (min-width:1200px) {
  main {
    margin-left: 270px;
  }

  .logocontainer {
    position: relative;
    height:90px;
    width:90px;
    padding: 20px;
  }

  .logocontainer img {
    max-width: 100%;
    height: auto;
  }

  .sidebar {
    position: fixed;
    left: 0px;
    width: 270px;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-color);
    transition: left 0.3s ease;
    box-sizing: border-box;
    z-index: 999;
    box-shadow: var(--sidebar-shadow)
  }

  .menu-toggle {
    display: none;
  }

  /* Header styles */
  .header {
    height: 60px;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s; /* Smooth transition */
    margin-left: 270px;
  }

  .search-bar {
    width: 100%;
    height: 40px;
    background-color: var(--searchbaractive);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 20px 0 20px;
    align-items: center;
  }
  
  .searchInput {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    color: var(--font-color-1); /* Change text color */
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 5px;
    column-rule-style: red;
    font-size: 18px;
    outline: none;
  }

  #searchInput::placeholder {
    color: var(--placeholderfont); /* Change placeholder text color */
    font-size: 18px;
  }
  
  .search-arrow {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 5px;
    z-index: 1002;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--off-color);
    cursor: pointer;
  }
  
  .search-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 5px;
    z-index: 1001;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    color: var(--off-color);
    cursor: pointer;
  }

  .background {
    background-image: var(--backgroundbg);
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    justify-content: center;

  }

  .details {
    text-align: center;
    padding: 0 56px 0 56px;
  }

  .details p {
    color:#ffffffd7;
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }

  .hello {
    font-size: 60px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }

  .main22 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main22 h2{
    color: var(--font-color-1);
  }

  .main22 p{
    padding: 20px;
  }

  .main33 {
    width: 100%;
    position: relative; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  .main44 {
    height: 100%;
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--aboutme-details);
    margin-right: 30px;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #ffffff42;
  }

  .main44 p {
    font-size: 20px;
    line-height: 35px;
    color: var(--font-color-2);
  }

  .main44 h3 {
    color: var(--font-color-1);
    margin-bottom: 20px;
  }

  .aboutme {
    color: var(--font-color-1);
  }

  .picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 40%;
  }

  .picture img {
    width: 60%;
    height: auto;
    border-radius: 15px;
  }

  .footer {
    position:relative;
    padding:20px;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #0e0e21;
    margin-left: 270px;
    bottom: 0;
  }
  
  .footer p{
    color: #ffffff5c;
  }
  
  .footername {
    text-decoration: none;
    color: #ff2b52;
  }
}