@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root {
    --background-color: #010006;
    --primary-color: #011522;
    --secondary-color: #152238;
    --accent-color: #5C59FF;
    --accent-bg: #2a2880;
    --font-color-primary: #FFFFFF;
    --font-color-secondary: #def6ffa3;
    --off-white: #f1faee;
    --hover-color: #8C84FF;

    --special-card-font-header: #9eed00;
    --special-card-font-para: #00ffff;
    --btnBg: linear-gradient(45deg, #5C59FF, #2a2880);
    --btnBgHover: linear-gradient(45deg, #2a2880, #5C59FF);
    --heading: linear-gradient(to right, #5c59ff, #fff);
    --heading2: linear-gradient(to right, var(--accent-color), var(--hover-color));
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color: var(--hover-color) #141348;
    font-family: "Sora", serif;
    box-sizing: border-box;
}

.aboutme {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}


.index-heading {
    width: fit-content;
    background-image: var(--heading2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1em;
}

.about-child {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

.about {
    height: 100%;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color));
    color: var(--font-color-secondary);
    padding: 2em;
    border-radius: 15px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.personal {
    width: 50%;
}
.professional {
    width: 50%;
}

.about:hover {
    color: var(--off-white);
    background: var(--btnBgHover);
    transform: scale(1.03); /* Slight zoom-in effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 20px var(--accent-color);
}
.about ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

@media (max-width: 680px){

    .about-child {
        flex-direction: column;
        gap: 1em;
        padding: 0;
        margin: 1em;
    }

    .about {
        padding: 1.5em;
        width: 100%;
    }

    .personal {
        width: 100%;
    }
    .professional {
        width: 100%;
    }
}