hr {
    border: none;
    height: 2px;
    background-color: #ff2b52;
    width: 8em;
    opacity: 1;
    border-radius: 4px;
}

.aboutme {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0 1em 2em;
    gap: .5em;
}

.index-heading {
    width: fit-content;
    background-image: var(--heading2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(20px, 7vw, 40px);
}

.about-child {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.about {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color));
    color: var(--font-color-secondary);
    padding: 1.5em;
    list-style-position: outside;
    border-radius: var(--br1);
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    line-height: 1.4;
    text-align: justify;
}

.about:hover {
    color: var(--off-white);
    background: var(--btnBgHover);
    transform: scale(1.03);
    /* Slight zoom-in effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 20px var(--accent-color);
}

.about ul {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1em 2em;
    gap: .5em;
}

.contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    text-align: left;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--primary-color);
    padding: 1.5em;
    border-radius: var(--br1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contact-form p {
    color: var(--font-color-primary);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form select,
.contact-form textarea,
.contact-form button {
    width: 100%;
    padding: 1.5em;
    border-radius: var(--br1);
    border: none;
    margin-bottom: 15px;
    border: solid 1px var(--secondary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.614);
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    background-color: var(--background-color);
    color: #ffffff;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form button {
    background: var(--btnBg);
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.contact-form button:hover {
    background: var(--btnBgHover);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info-item {
    width: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
}

.info-item .icon {
    background: var(--btnBg);
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-item h4 {
    font-size: 16px;
    margin: 0;
    color: var(--font-color-secondary);
}

.info-item p {
    font-size: 14px;
    color: var(--font-color-primary);
}

@media screen and (min-width: 1024px) {

    .gallery img:hover {
        scale: 1.2;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .about-child {
        flex-direction: row;
        gap: 2em;
    }

    .contact-details {
        display: flex;
        flex-direction: row;
    }

    .contact-form {
        width: 50%;
    }
}

/* Disclaimer Page */
.disclaimer-section {
    width: 100%;
    text-align: left;
    padding: 1em;
    line-height: 1.8;
    font-size: 1rem;
    color: var(--font-color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.disclaimer-section h1,
.disclaimer-section h2 {
    color: var(--off-white);
}